.show {
  color: white;
  display: flex;
  font: 23px Hei, Helvetica, Arial, sans-serif;
  transform: translateY(58%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width:980px){
  .show{
    font: 48px Hei,Helvetica,Arial,sans-serif;
    transform: translateY(80%);
  }
}
.show .date {
  display: flex;
}

.show .week {
  display: flex;
}
