.show {
  color: white;
  display: flex;
  font: 23px Hei, Helvetica, Arial, sans-serif;
  transform: translateY(58%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all .3s;
}
.show .date {
  display: flex;
}

.show .week {
  display: flex;
}
@media screen and (max-width:1000px){
  .show {
    color: rgb(255, 255, 255);
    display: flex;
    font: 51px Hei, Helvetica, Arial, sans-serif;
    transform: translateY(265%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
  }
}